body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: wheat;
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black;
    color: aqua;
    font-family: Arial;
    margin: 0px
}

footer {
    background-color: black;
    color: aqua;
    font-family: Arial;
    margin: 0px
}

a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: purple;
    text-shadow: 4px 3px 3px rgba(56, 48, 3, 0.507);
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
    text-shadow: 4px 3px 3px rgba(56, 48, 3, 0.507);
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #618a204b;
    box-shadow: 0 0 15px #00000030;
}

.text-center {
    text-align: center;
}