.color {
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(118, 1, 53);
    color: white;
    width: 1600px;
    height: 700px;
    font-size: 20pt;
    padding-left: 10px;
    line-height: 1.5;
}



.zag1 {
    text-align: center;
    font-size: 45pt;
    
}



.zag2 {
    text-align: center;
    color: bisque;

}

.img {
    margin: 0 auto;
    display: block;
    height: 350px;
}
.bodY {
    margin: 0;
    padding: 0;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: rgb(118, 1, 53);
}

.sidebar_ul {
    list-style: none;
    padding: 0;
}

.sidebar_ul_li {
    padding: 10px;
    text-align: center;
}

.content {
    margin-right: 220px; /* Равен ширине sidebar + отступ справа */
    padding: 20px;
}

body {
    background-color: rgb(247,249,250);
    color: rgb(118, 1, 53);
    font-family: Arial;
    margin: 0px;
}

main {
    
    color: black;
    font-family: Arial;
    margin: 10px 20px 45px;
    
}

header {
    background-color: rgb(118, 1, 53);
    color: white;
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: rgb(118, 1, 53);
    color: white;
    font-family: Arial;
    font-size: 12pt;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: white;
    text-shadow: 4px 3px 3px rgba(56, 48, 3, 0.507);
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: plum;
    text-decoration: underline;
    text-shadow: 4px 3px 3px rgba(56, 48, 3, 0.507);
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #618a204b;
    box-shadow: 0 0 15px #00000030;
}

.text-center {
    text-align: center;
}